#progress {
    padding: 0;
    list-style-type: none;
    font-family: arial;
    font-size: 12px;
    clear: both;
    line-height: 1em;
    margin: 0 -1px;
}
#progress ul{
    background: green;
}

#progress li {
    float: left;
    padding: 20px 40px 10px 40px;
    font-size: 20px;
    font-style: italic;
    background: #333;
    color: #fff;
    position: relative;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    width: 90%;
    margin: 0 1px;
}
#progress li:after {
    content: '';
    border-left: 26px solid #333;
    border-top: 26px solid transparent;
    border-bottom: 26px solid transparent;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 20;
}

